:root {
  --primary-font-color: #2C2B2B;
  --seconday-color:#FFDB63;
  --primay-font-weight:700;
  --secondary-font-weight:500;
  --primary-font-size:26px;
  --primary-line-height:31.47px;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 0 !important
}
body {
  overflow: -moz-scrollbars-none;
}
body {
  -ms-overflow-style: none;
}

button{
  width: 191px;
 height: 43px;
 padding: 9px 33px 9px 33px;
 border-radius: 32px;
 border-width: 0;
 background-color: #FFDB63;
 font-size: 20.71px;
}
button:hover{
  cursor: pointer;
}


.hero_section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/background_image.png");
  height: 362px;
  opacity: 0.93;

}

.hero_section.detail {
  background-image: url("/images/product_detail.png");
}

.hero_section p {
  color: white;
  font-size: 40px;
  font-weight: var(--primary-font-weight);
  line-height: 48.41px;
  width: 898px;
  text-align: center;
}

.products_section{
  margin-top: 77px;
  margin-left: 77px;
  margin-right: 77px;
  
}

button a{
  text-decoration: none;
  list-style: none;
  color: black;
  
}
