.hero_detail p{
   
    
}

.detail {
    padding-top: 48px;
    padding-left: 79px;
    padding-bottom: 163px;
}

.detail p {
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: left;
    margin-bottom: 14px;
}
.detail .instruction {
    margin-top: 29px;
}
.detail ul, .detail ol {
    padding-left: 24px;
}